<% @posts.each do |post| %>
  <h3 class='votes_count' data-id='<%= post.id %>'><%= post.points %></h3>
  <%= button_to 'Upvote', post_votes_path(post, up: true), remote: true %>
  <%= button_to 'Downvote', post_votes_path(post, up: false), remote: true %>
  <h1><%= post.title %></h1>
  <p><%= post.description %></p>
<% end %>